.ResizableDiv_handle {
  background-color: silver;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  &--pan {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
  }
  &--tl {
    left:0;
    top:0;
  }
  &--tr {
    right:0;
    top:0;
  }
  &--bl {
    left:0;
    bottom:0;
  }
  &--br {
    right:0;
    bottom:0;
  }
  &--top {
    top:0;
    left:50%;
    transform: translateX(-50%)
  }
  
  &--bottom {
    left:50%;
    bottom:0;
    transform: translateX(-50%)
  }
  &--left {
    left:0;
    top:50%;
    transform: translateY(-50%)
  }
  
  &--right {
    right:0;
    top:50%;
    transform: translateY(-50%)
  }
}
